<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

    <body>

        <%- include('./includes/nav.ejs') %>

            <div class="envelopes content">
                <h2>Your Envelopes</h2>
                <% if (envelopes.length > 0) { %>
                    <% envelopes.forEach(envelope => { %>
                        <h3 class="category">
                            <%= envelope.category %>
                        </h3>
                        <p class="remaining">$
                            <%= envelope.remaining %> remaining</p>
                        <p class="budgeted">from $
                            <%=envelope.budgeted %> Budgeted</p>
                        <% }) %>
                            <% } %>
                                <br>
                                <a class="link" href="/envelopes/add-envelope">create envelope +</a>
            </div>
            <%- include('./includes/footer.ejs') %>
    </body>

</html>