<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

    <body>

        <%- include('./includes/nav.ejs') %>

            <div class="envelopes content">
                <h2>Your Envelopes</h2>




                <!--
                <div class="letter-image">
                    <div class="animated-mail">
                        <div class="back-fold"></div>
                        <div class="letter">
                            <div class="letter-border"></div>
                            <div class="letter-title"></div>
                            <div class="letter-context"></div>
                            <div class="letter-stamp">
                                <div class="letter-stamp-inner"></div>
                            </div>
                        </div>
                        <div class="top-fold"></div>
                        <div class="body"></div>
                        <div class="left-fold"></div>
                    </div>
                    -->
                <% if (envelopes.length > 0) { %>
                    <% envelopes.forEach(envelope => { %>
                        <h3 class="category">
                            <%= envelope.category %>
                        </h3>
                        <div class="wrapper">
                            <div class="lid one"></div>
                            <div class="lid two"></div>
                            <div class="envelope"></div>
                            <div class="letter">
                                <p>$
                                    <%= envelope.balance %>
                                </p>
                            </div>
                        </div>
                        <p class="remaining">$
                            <%= envelope.balance %> remaining</p>
                        <p class="budgeted">from $
                            <%=envelope.budgeted %> Budgeted</p>
                        <% }) %>
                            <% } %>
                                <br>
                                <a class="link" href="/envelopes/add-envelope">create envelope +</a>
            </div>
            <%- include('./includes/footer.ejs') %>
    </body>

</html>