<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

    <body>

        <%- include('../includes/nav.ejs') %>
            <a id="right" href="/envelopes/add-funds">Add Funds</a>

            <div class="details content">

                <h2>
                    <%= envelope.category %>
                </h2>
                <div class="content">
                    <h2>
                        <span style="background-color: green; color: white; font-size: larger;">$
                        <%=envelope.balance %></span> <span class="invisible">----------</span>balance
                    </h2>
                    <h4>of</h4>
                    <br>
                    <h3>$
                        <%=envelope.budgeted%> <span class="invisible">-----------</span>budgeted</h3>

                </div>



            </div>

            <div class="add-transaction content">
                <form action="/envelopes/add-transaction" method="POST">
                    <h3>Enter Transaction</h3>
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" name="amount" required>
                    <!--<label for="nameOfTransaction">Name</label>
                    <input type="text" id="nameOfTransaction" name="nameOfTransaction"> -->
                    <input type="hidden" id="balance" name="balance" value="<%= envelope.balance%>">
                    <input type="hidden" id="budgeted" name="budgeted" value="<%= envelope.budgeted%>">
                    <input type="hidden" id="id" name="id" value="<%= envelope._id%>">
                    <button class="btn-primary">Save</button>
                </form>
            </div>
            <a class="edit" href="/envelopes/edit/<%= envelope._id %>" data-doc="<%= envelope._id  %>"><img src="/edit_icon.svg">Edit Envelopes Test</a><br>
            <br>
            <a class="transfer" href="/envelopes/transfer"><img src="/transfer.svg" alt="Transfer Envelope">Transfer in Envelopes</a><br><br>
            <!--<a class="transaction" href="/envelopes/transactions"><img src="/trashcan.svg" alt="Transactions">View Transactions</a><br>-->
            <a class="delete" data-doc="<%= envelope._id  %>"><img src="/trashcan.svg" alt="Delete Envelope">Delete Envelope</a>
            <%- include('../includes/footer.ejs') %>
                <script>
                    document.getElementById('amount').focus();

                    // Delete Envelope
                    const trashcan = document.querySelector('a.delete');
                    trashcan.addEventListener('click', (e) => {
                        const endpoint = `/envelopes/${trashcan.dataset.doc}`;
                        fetch(endpoint, {
                                method: 'DELETE'
                            })
                            .then((response) => response.json())
                            .then((data) => window.location.href = data.redirect)
                            .catch(err => console.log(err));
                    });

                    // Edit Envelope
                    const edit = document.querySelector('a.edit');
                    edit.addEventListener('click', (e) => {
                        const endpoint = `/envelopes/${edit.dataset.doc}`;
                        fetch(endpoint, {
                                method: 'PATCH'
                            })
                            .then((response) => response.json())
                            .then((data) => window.location.href = data.redirect)
                            .catch(err => console.log(err));
                    });
                </script>
    </body>

</html>